@model Moment_Catering_System.Models.SupplierManagement

@{
    ViewBag.Title = "AddSupplier";
    Layout = "~/Views/Shared/_sideBar.cshtml";
}

<link rel="stylesheet" href="~/Style/styles.css">
<script src="~/Scripts/confirmation.js"></script>

<div class="container mt-5 d-flex justify-content-center">
    <form action="AddSupplier" method="post" id="CreateForm">
        <div class="card p-5">
            <h5 class="title" style=" color: #e7604a;">Add Supplier</h5>
            @Html.HiddenFor(model => model.SupplierEntity.SupplierID)
            <div class="pt-4">
                @Html.TextBoxFor(model => model.SupplierEntity.Name, new { @class = "form-control name-textbox", placeholder = "Enter Supplier Name", required = "required" })
            </div>
            <div class="pt-4">
                @Html.TextBoxFor(model => model.SupplierEntity.ContactPerson, new { @class = "form-control name-textbox", placeholder = "Enter Contact Person", required = "required" })
            </div>
            <div class="pt-4">
                @Html.TextBoxFor(model => model.SupplierEntity.ContactNumber, new { @class = "form-control name-textbox", placeholder = "Enter Contact Number", required = "required" })
            </div>
            <div class="pt-4">
                @Html.TextBoxFor(model => model.SupplierEntity.Address, new { @class = "form-control name-textbox", placeholder = "Enter Address", required = "required" })
            </div>

            <div class="d-flex justify-content-between pt-5 align-items-center">
                <a href="SupplierList" class="cancel-btn">Back</a>
                <button type="submit" class="save-btn" id="Save">Save</button>
            </div>
        </div>
    </form>
</div>