@model Moment_Catering_System.Models.MenuMaintenance

@{
    ViewBag.Title = "AddMenu";
    Layout = "~/Views/Shared/_sideBar.cshtml";
}

<link rel="stylesheet" href="~/Style/styles.css">
<script src="~/Scripts/confirmation.js"></script>

<div class="container mt-5 d-flex justify-content-center">
    <form action="AddMenu" method="post" enctype="multipart/form-data" id="CreateForm">
        <div class="card p-5">
            <h5 class="title" style=" color: #e7604a;">Add Menu</h5>
            @Html.HiddenFor(model => model.MenuEntity.MenuID)
            <div class="pt-4">
                @Html.TextBoxFor(model => model.MenuEntity.MenuName, new { @class = "form-control name-textbox", placeholder = "Enter Menu Name", required = "required" })
            </div>
            <div class="pt-4">
                @Html.TextBoxFor(model => model.MenuEntity.MinPax, new { @class = "form-control name-textbox", placeholder = "Enter Min Pax", type = "number", min = 0, required = "required" })
            </div>
            <div class="pt-4">
                @Html.TextBoxFor(model => model.MenuEntity.UnitPrice, new { @class = "form-control name-textbox", placeholder = "Enter Unit Price $", type = "number", min = 0, required = "required" })
            </div>
            <div class="pt-4">
                @Html.TextBoxFor(model => model.MenuEntity.NoOfCourse, new { @class = "form-control name-textbox", placeholder = "Enter No Of Course", type = "number", min = 0, required = "required" })
            </div>

            <div class="pt-4">
                @Html.TextBoxFor(model => model.MenuEntity.ImageFile, new { @class = "form-control name-textbox", type = "file" })
            </div>
            <div class="d-flex justify-content-between pt-5 align-items-center">
                <a href="MenuList" class="cancel-btn">Back</a>
                <button type="submit" class="save-btn" id="Save">Save</button>
            </div>
        </div>
    </form>
</div>

<style>
    /* Apply styles to the file input */
    .form-control.name-textbox[type="file"] {
        padding-bottom: 35px; /* Adjust the padding as needed */
    }
</style>